<h2><%= @unit.unit_num %></h2>
rent: <%= @unit.rent %>


<%= link_to "Edit Unit", edit_building_unit_path(@unit)  %>
<%= link_to "Delete Unit", building_unit_path(@unit), :method => :delete, :confirm => "Are you sure you want to delete this unit?" %>